.details {
  position: relative;

  .button {
    svg {
      margin-left: 4px;
    }
  }

  &:not(:last-child) {
    margin-right: 4px;
  }
  
  &:hover {
    
    .select-menu {
      display: block;
      pointer-events: auto;
    }
  }
}
