@use 'src/styles/colors';
@use 'src/styles/fonts';

.search-input {
  display: flex;
  border: 1px solid colors.$N700;
  border-radius: 6px;
  margin-right: 16px;
  flex: auto;
  overflow: hidden;
  align-items: center;

  svg {
    margin: 0 16px;
    color: colors.$N700;
  }

  &:focus-within {
    border-color: colors.$blue;
  }

  input {
    padding: 4px 12px;
    font-size: fonts.$regular;
    color: colors.$N200;
    line-height: fonts.$medium;
    vertical-align: middle;
    background-color: colors.$N900;
    border: unset;
    flex: 1;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: colors.$N700;
      opacity: 1;
    }
  }

  button {
    border-radius: 0;
  }

 }