@use './src/styles/colors';
@use './src/styles/fonts';

.list-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0;
  border-bottom: 1px solid colors.$N700;

  >header.title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    >a {
      font-size: fonts.$medium;
      font-weight: fonts.$bold;
    }
  }

  .description {
    margin-bottom: 8px;
    box-sizing: border-box;
  }

  >footer {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    font-size: fonts.$small;

    .icon {
      margin-right: 4px;
      font-size: 16px;
    }

    >a.info {
      display: flex;
      justify-content: center;
      color: colors.$N400;
      margin-right: 16px;
      line-height: 16px;
    }

    >a.info:hover {
      color: colors.$blue;
      text-decoration: none;
    }

    >span:not(:last-child) {
      margin-right: 16px;
      display: flex;
      justify-content: center;
    }
  }
}